.App {
    --header_height: 60px;
    padding-top: 107px;
}

.hw {
    /*max-width: 1140px;*/
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hwTitle {
    padding-left: 70px;
    height: 27px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}