
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    width: 101px;
    height: 30px;
    border: 1px solid #0066CC;
    border-radius: 3px;
    color: #0066CC;
    background: white;

}

.disabled {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #002E5C;
}

.secondary {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    background: white;


}

.default {


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: white;
    background: rgba(13, 94, 145, 0.45);

}

.red {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    width: 129px;
    height: 30px;
    background: #CC1439;
    border-radius: 3px;
}

.default:hover {
    color: white;
    background: #0066CC;
}

.red:hover {
}

.secondary:hover {
    color: white;
    background: #0066CC;
}


.default:active {

}

.secondary:active {

}

.red:active {
}

.button:disabled {
}
